$default-font: "Open Sans", "Helvetica", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Arial", sans-serif;
$accent: #49c2d3;
$accentl: #92dae6;
$accentd: #28a5b7;
$accent2: #1b1b1b;
$accent2l: #f2f7fa;
$accent2d: #000;

$text: #1B1B1B;
$textl: rgba(27, 27, 27, 0.6);

$red: #ff1d1e;
$gray: #ccc;
$grayl: #d3d3d3;
$grayd: #202020;
$grayz: #e2eaec;

$def-font-size: 14px;
$new-font-size: $def-font-size;
$font-ratio: $new-font-size / $def-font-size;
$site-width: 1182px; //site width here
$site-lg-width: $site-width; //site width on lg monitor here

$section-mg: 40px;
$section-sm-pd: 30px;
$section-sm-mg: 30px;
$heading-mb: 30px;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 28px; //site col gutter here
$grid-columns: 12; //site col quantyty here
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$site-width: $site-width + $grid-gutter-width;
$site-lg-width: $site-lg-width + $grid-gutter-width;
$site-lg-breakpoint: $site-lg-width + 1;

$gutter: $grid-gutter-width;
