.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow_dwn_svg {
	font-size:(129/10)*1rem;
	width:(129/129)*1em;
}
.icon-arrow_r_svg {
	font-size:(129/10)*1rem;
	width:(129/129)*1em;
}
.icon-close_svg {
	font-size:(512/10)*1rem;
	width:(320/512)*1em;
}
.icon-place_svg {
	font-size:(430.11/10)*1rem;
	width:(430.11/430.11)*1em;
}
.icon-reload_svg {
	font-size:(489.53/10)*1rem;
	width:(489.53/489.53)*1em;
}
.icon-search_svg {
	font-size:(30.239/10)*1rem;
	width:(30.239/30.239)*1em;
}
.icon-star2_svg {
	font-size:(19.5/10)*1rem;
	width:(19.5/19.5)*1em;
}
.icon-star_svg {
	font-size:(487.2/10)*1rem;
	width:(487.2/487.2)*1em;
}
.icon-user_svg {
	font-size:(563.43/10)*1rem;
	width:(563.43/563.43)*1em;
}
